$ms-greenLight:                 "[theme:greenLight, default:#0000FF]";
$ms-neutralSecondaryAlt:        "[theme:info, default:#1E90FF]";
$ms-neutralLight:               "[theme:infoBackground, default:#00BFFF]";
$ms-magenta:                    "[theme:magenta, default:#87CEEB]";
$ms-magentaDark:                "[theme:magentaDark, default:#87CEFA]";
$ms-magentaLight:               "[theme:magentaLight, default:#4682B4]";
$ms-neutralDark:                "[theme:neutralDark, default:#B0C4DE]";
$ms-neutralLight:               "[theme:neutralLight, default:#ADD8E6]";
$ms-neutralLighter:             "[theme:neutralLighter, default:#B0E0E6]";
$ms-neutralLighterAlt:          "[theme:neutralLighterAlt, default:#AFEEEE]";
$ms-neutralPrimary:             "[theme:neutralPrimary, default:#00CED1]";
$ms-neutralPrimaryAlt:          "[theme:neutralPrimaryAlt, default:#48D1CC]";
$ms-neutralQuaternary:          "[theme:neutralPrimaryTranslucent50, default:#40E0D0]";
$ms-neutralQuaternaryAlt:       "[theme:neutralQuaternary, default:	#00FFFF]";
$ms-neutralSecondary:           "[theme:neutralQuaternaryAlt, default:#E0FFFF]";
$ms-neutralSecondaryAlt:        "[theme:neutralSecondary, default:#5F9EA0]";
$ms-neutralTertiary:            "[theme:neutralSecondaryAlt, default:#66CDAA]";
$ms-neutralTertiaryAlt:         "[theme:neutralTertiary, default:#7FFFD4]";
$ms-white:                      "[theme:neutralTertiaryAlt, default:#006400]";
$ms-orange:                     "[theme:orange, default:#556B2F]";
$ms-orangeLight:                "[theme:orangeLight, default:#8FBC8F]";
$ms-orangeLighter:              "[theme:orangeLighter, default:#2E8B57]";
$ms-primaryBackground:          "[theme:primaryBackground, default:#ffffff]";
$ms-primaryText:                "[theme:primaryText, default:#3CB371]";
$ms-purple:                     "[theme:purple, default:#20B2AA]";
$ms-purpleDark:                 "[theme:purpleDark, default:#98FB98]";
$ms-purpleLight:                "[theme:purpleLight, default:#00FF7F]";
$ms-red:                        "[theme:red, default:#7CFC00]";
$ms-redDark:                    "[theme:redDark, default:#00FF00]";
$ms-success:                    "[theme:success, default:#7FFF00]";
$ms-successBackground:          "[theme:successBackground, default:#00FA9A]";
$ms-teal:                       "[theme:teal, default:#ADFF2F]";
$ms-tealDark:                   "[theme:tealDark, default:#32CD32]";
$ms-tealLight:                  "[theme:tealLight, default:#9ACD32]";
$ms-themeAccent:                "[theme:themeAccent, default:inherit]";
$ms-themeAccentTranslucent10:   "[theme:themeAccentTranslucent10, default:inherit]";
$ms-themeDark:                  "[theme:themeDark, default:#228B22]";
$ms-themeDarkAlt:               "[theme:themeDarkAlt, default:#6B8E23]";
$ms-themeDarker:                "[theme:themeDarker, default:#BDB76B]";
$ms-themeLight:                 "[theme:themeLight, default:#EEE8AA]";
$ms-themeLightAlt:              "[theme:themeLightAlt, default:inherit]";
$ms-themeLighter:               "[theme:themeLighter, default:#FAFAD2]";
$ms-themeLighterAlt:            "[theme:themeLighterAlt, default:#FFFFE0]";
$ms-themePrimary:               "[theme:themePrimary, default:#FFFF00]";
$ms-themeSecondary:             "[theme:themeSecondary, default:#FFD700]";
$ms-themeTertiary:              "[theme:themeTertiary, default:#EEDD82]";
$ms-themeTertiaryAlt:           "[theme:themeTertiaryAlt, default:#DAA520]";
$ms-white:                      "[theme:white, default:#B8860B]";
$ms-whiteTranslucent40:         "[theme:whiteTranslucent40, default:rgba(255,255,255,.4)]";
$ms-yellow:                     "[theme:yellow, default:#BC8F8F]";
$ms-yellowLight:                "[theme:yellowLight, default:#CD5C5C]";